/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.app-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 40px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  min-height: 500px; /* Adjust this value as needed */
}

.header {
  font-size: 34px;
  margin-bottom: 50px;
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 200px; /* Adjust width as needed */
  height: auto;
}

.signin-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #4285F4; /* Google blue color */
  color: white;
  cursor: pointer;
}

.signin-button:hover {
  background-color: #357ae8;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #e8e8e8;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #333;
}

h2 {
  color: #333;
}

.favorite-btn {
  background-color: #ff5722;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.favorite-btn:hover {
  background-color: #e64a19;
}
